body {
	background-color:#66ffcc;
#	font-size:18px;
	line-height:18px;
}

table.tablestyle {
	width: 1000px;
	margin-right: 10px;
}

th.id {
	width: 100px;
}

th.ita {
	width: 200px;
}

th.thread {
	width: 700px;
}


td.id {
	width: 100px;
}

td.ita {
	width: 200px;
}

td.thread {
	width: 700px;
}

div.textOverflow {
	width: 700px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color:red;
}
