body {
	background-color:#66ffcc;
	font-size:18px;
	line-height:18px;
}

th.id {
	width: 100px;
}

th.ita {
	width: 400px;
}

th.thread {
	width: 600px;
}


td.id {
	width: 100px;
}

td.ita {
	width: 400px;
}

# td.thread {
# 	width: 900px;
# }

div.textOverflow {
# 	width: 900px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color:red;
}
