body {
	background-color:#66ffcc;
	font-size:18px;
}

table.tablestyle {
	width: 50%;
	background-color: #f8dce0;
}

th.id {
	width: 400px;
}

# th.subject {
# 	width: 300px;
# }


td.id {
	width: 400px;
}

# td.subject {
# 	width: 300px;
# }
