body {
	background-color: #66ffcc;
	font-size: 18px;
}

table.tablestyle {
	width: 600px;
	background-color: #f8dce0;
}

th.id {
	width: 200px;
}

th.subject {
	width: 400px;
}

td.id {
	width: 200px;
}

td.subject {
	width: 400px;
}
